/BasedPlate.class
/DeepPlate.class
/NonBasedPlate.class
/Plate.class
/PotPlate.class
/State.class
/Test$1.class
/Test.class
/bar.class
/plate1.class
/PlateFactory.class
/ConstantBar.class
/ControlBar.class
/Bar.class
/Clown.class
/ExtensionLoader.class
